
.box_shw2 {
  box-shadow: rgba(0, 0, 0, 0.12) 0 0 25px;
  background-color: grey !important;
  margin-top: 2%;
}

.f_12_14 {
  font-size: 12px;
  line-height: 14px !important;
}

.heading {
  font-size: 28px;
  line-height: 22px !important;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: orangered ;
  text-align: center;
  margin-top: 7%;

}
.w_500 {
  width: 500px;
  max-width: 100%;
  margin-top: 2% !important;
}
.card-body{
  color: greenyellow !important;
  padding: 10px 10px 0 10px !important;
}
.input-color{
  background-color: grey !important;
  color: rgb(180, 187, 194) !important;
  font-style: italic !important;
}

.fas{
  background-color:  greenyellow !important;
  /* font-size: 25px !important; */
}
.heading1{
  font-size: 28px;
  line-height: 22px !important;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: greenyellow ;
  text-align: center;
  margin-top: 7%;

}
.btn{
  float: right !important;
  width: 40%;
  color: rgb(180, 187, 194) !important;
  height: 50px;
}